---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Projects from "../components/Projects.astro";
import WaveDivider from "../components/WaveDivider.astro";
import Webring from "../components/Webring.astro";
import Socials from "../components/Socials.astro";

const variables = {
  name: "Oliver Wuttke",
  subtitles:
    "I'm a software engineer and computer science student building low latency data structures and systems in C++." +
    "I focus on lock-free concurrency, performance engineering, and scalable backend infrastructure. I'm particularly interested in applying these techniques to high-performance trading and real-time systems.",
};
---

<Layout title={variables.name}>
  <main>
    <Intro name={variables.name} subtitle={variables.subtitles} />
    <WaveDivider color="rosewater" speed={100} size={0.8} direction="left" />

    <Projects />
    <WaveDivider color="flamingo" speed={100} size={0.8} direction="right" />

    <Webring />
    <WaveDivider color="pink" speed={100} size={0.8} direction="right" />

    <Socials />
  </main>
</Layout>
